<br>
<div class="row">
  <%= form_tag admin_lesson_words_path, method: :get do %>
    <div class="col-md-6">
      <%= text_field_tag :search, params[:search],
        placeholder: t("enter_word"), class: "form-control" %>
    </div>
    <div class="col-md-2">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<h3>
  <%= link_to t("list_word"), admin_lesson_words_path %>
</h3>
<% if params[:search].present? && @words.blank? %>
  <%= t "name_not_exist" %>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> <%= t "stt" %> </th>
        <th> <%= t "name_word" %> </th>
        <th> <%= t "meaning" %> </th>
      </tr>
    </thead>
    <tbody>
    <% @words.each_with_index do |word, index| %>
      <tr>
        <td>
          <%= current_index @words.current_page,
            Settings.per_page.word, index %>
        </td>
        <td> <%= word.name %> </td>
        <td> <%= word.meaning %> </td>
        <td>
          <%= link_to t("edit_word"),
            edit_admin_lesson_word_path(@lesson, word),
            class: "btn btn-primary" %>
          <%= link_to t("delete_word"),
            admin_lesson_word_path(@lesson, word),
            method: :delete, data: {confirm: t("message_delete")},
            class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
