<table class="table table-hover">
  <thead>
    <tr>
      <th> <%= t "stt" %> </th>
      <th> <%= t "name_course" %> </th>
      <th> <%= t "name" %> </th>
      <th> <%= t "function" %> </th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each_with_index do |course, index| %>
    <tr>
      <td>
        <%= current_index @courses.current_page,
          Settings.per_page.course, index %>
      </td>
      <td> <%= course.name %> </td>
      <td> <%= course.category.name %> </td>
      <td>
        <%= link_to t("edit_course"), edit_admin_course_path(course),
          class: "btn btn-primary" %>
        <%= link_to t("delete_course"), admin_course_path(course),
          method: :delete, data: {confirm: t("message_delete")},
          class: "btn btn-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
