<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("elearning"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav ">
      <% @categories.each do |category| %>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            <%= category.name%>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          <% category.courses.each do |course| %>
            <li> <%= link_to course.name, course_path(course) %> </li>
          <% end %>
          </ul>
        </li>
      <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="hello"><%= t "hello" %><%= current_user.name %></li>
          <li><%= link_to t("users"), users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "account" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("profile"), current_user %></li>
              <li><%= link_to t("settings"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("sign_up"), sign_up_path %></li>
          <li><%= link_to t("login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
